.modal {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	display: block;
	max-width: 90vw;
	max-height: 90vh;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 4px;
	padding-bottom: 20px;
	background-color: #fff;
	align-self: center;
	box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
	opacity: 0;
	transform: scale(0.6);
	transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
	transform: scale(0);
	z-index: 1001;
}

.visible {
	pointer-events: auto;
	opacity: 1;
	transform: scale(1);
	transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

@media only screen and (min-width: 768px) {
	.modal {
		width: 70vw;
		max-height: 60vh;
	}
}

@media only screen and (min-width: 992px) {
	.modal {
		width: 60vw;
		max-height: 60vh;
	}
}
